-- "Enum" of states
#for $state in $state_list 
const $state.name : int  = $state.idx;
#end for 

const n: int = $len($state_list); -- State Size
const AP_size: int = 2; 
const Phi_size: int = 3;

type SamplePoint         = {t : real; s : real^n};
type PerformancePoint    = real^Phi_size;
type PerformancePoint_AP = real^AP_size;


node Main(SP: SamplePoint) returns(Rho: PerformancePoint); 
var Rho_AP: PerformancePoint_AP;
let 
    Rho_AP = ComputeRho_AP(SP); 
    Rho    = ComputeRho_Phi(Rho_AP); 
tel


node ComputeRho_Phi(Rho_AP : PerformancePoint_AP) returns(Rho:PerformancePoint);
let

    #for $prop in $AP.values()
    Rho[$prop.idx] = Rho_AP[$prop.idx]; -- $prop.p_name: $prop.text 
    #end for
    
    #for $i, $formula in $enumerate($formulas.values()) 
    #set $k = $i + $len($AP.values())
    -- $formula.text  
    Rho[$k]  = $formula.formula;
    #end for

tel


node ComputeRho_AP(SP : SamplePoint) returns(Rho_AP:PerformancePoint_AP); 
let
    #for $prop in $AP.values()
    Rho_AP[$prop.idx] = f_${prop.idx}(SP); -- $prop.p_name 
    #end for
tel


-----------------------------
-- Quantifiers for the APs --
-----------------------------

#for $prop in $AP.values()
-- $prop.text
node f_${prop.idx}(SP: SamplePoint) returns(mu: real);
let
    mu = ${prop.f};    
tel
#end for



