-- "Enum" of states
#for $state in $state_list 
const $state.name : int  = $state.idx;
#end for 

const n: int = $len($state_list); -- State Size
const AP_size: int = $len($AP.values); 
const Phi_size: int = $len($formulas.values);

type SamplePoint         = {t : real; s : real^n};
type PerformancePoint    = real^(Phi_size+AP_size);
type PerformancePoint_AP = real^AP_size;


node Main(SP: SamplePoint) returns(Rho: PerformancePoint); 
let 
    Rho    = ComputeRho_Phi(SP); 
tel


node ComputeRho_Phi(SP: SamplePoint) 
                    returns(Rho:PerformancePoint);
let

    #for $prop in $AP.values()
    Rho[$prop.idx] = f_${prop.idx}(SP); -- $prop.p_name: $prop.text 
    #end for
    
    #for $i, $formula in $enumerate($formulas.values()) 
    #set $k = $i + $len($AP.values())
    -- $formula.text  
    Rho[$k]  = $formula.formula;
    #end for

tel

-----------------------------
-- Quantifiers for the APs --
-----------------------------

#for $prop in $AP.values()
-- $prop.text
node f_${prop.idx}(SP: SamplePoint) returns(mu: real);
let
    mu = ${prop.f};    
tel
#end for



